<% position_request = position.user_position_request current_user %>

<div class="span4 event-box m-l-r">
        <div class="main-box event-box-text">
            <div class="ribbon">
              <img src="/assets/ribbon.png">
            </div>
          <div class="event-image latest">
            <div class="big-event-info">
              <h4>
                <% if true %>
                  <a href="#" class="comment-note"><i class="icon-comments"></i></a> 
                <% end %>
                  <%= link_to position.title, position_request_path(position_request.token) if position_request.token %>
              </h4>
              <p class="grey"><%= position.short_description %></p>
              
              <p class="grey">Applied at: <%= position_request.created_at.to_date %></p>
            </div><!--/span-->
            
          </div><!--/box image-->
          
          <div class=" row-fluid user-event-info">
            <div class="user">
              <%#= link_to '#', root_path do %>
                <img src="<%#= position.owner.picture %>">
              <%# end %>
            </div><!--/user-->
            <div class="event-info">
              <h4><%= link_to position.owner.email, '#' %></h4>
            </div><!--/event-info-->
          </div><!--/row-fluid-->
        </div><!--/main-box-->
      </div><!--/span-->

