<div class="main-background">
    <div class="row-fluid">
      <% unless @positions.empty? %>
          <!-- Small boxes-->
          <div class="row-fluid">
            <% @positions.each do |position| %>
                  <%= render 'box', :position => position %>
            <% end%>
          </div><!--/row-fluid-->      
      <% end %>

  </div><!--/container-->
</div><!--/main-background-->



<%= link_to 'New Position', new_position_path %>


