<div class="main-background">
    <div class="row-fluid">
      <% unless @open_positions.empty? %>
        <h3>Applied to:</h3>
        <!-- Small boxes-->
      <div class="row-fluid">
        <% @open_positions.each do |position| %>
              <%= render 'box_applied', :position => position %>
        <% end unless @open_positions.nil? %>
      </div><!--/row-fluid-->
      <% end %>
      
      <% unless @positions.empty? %>
          <h2>My jobs:</h2>
          <!-- Small boxes-->
          <div class="row-fluid">
            <% @positions.each do |position| %>
                  <%= render 'box', :position => position %>
            <% end%>
          </div><!--/row-fluid-->      
      <% end %>

  </div><!--/container-->
</div><!--/main-background-->



<%= link_to 'New Position', new_position_path %>


