<div class="container">
  <div class="container-fluid single-box-layout profile-page">
    <div class="row-fluid">
      <%= render "info", :position => @position %>

      <!-- EMPTY Activity on profil pages
      ============================== -->
<% if false %>
  <%= render "/shared/empty", :title => "", :subtitle=> "" %>
<% else %>






      <!-- Activity on profil pages
      ============================== -->
      <div class="span9">
        
        <%= render "tabs" %>

      <div class="profile-activity main-box">
        <div class="row-fluid request-list">
          <ul>
            <% @requests.each do |request| %>

              <%= render 'request', :request => request, :position => request.position %>

            <% end %>
          </ul>
        </div><!--/row-fluid-->
      </div><!--/main-box-->
      </div><!--/span-->
<% end %>
    </div><!--/row-fluid-->
  </div><!--/container-fluid-->
</div><!--/container-->








