 <li class="media comment">
    <a href="<%#= user_path(comment.user) %>" class="user">
        <img src="<%#= comment.user.picture %>"></a>
    <div class="media-body grey">
        <div class="comment-arrow"></div>
        <div class="media-bg">
        <h6 class="media-heading"><%= comment.commentable.entity %>:</h6>
        <p><%= comment.comment %></p>
        </div>
    </div>
    <em class="pull-right"><%= comment.created_at.strftime("%B %d %Y at %I.%M %p") %></em>
</li>