      <div class="span9">
        

      <div class="profile-activity main-box">
        <div class="row-fluid">
          



<div class="row-fluid">
  <div class="comments">

      <div class="media m-20-bott">
      <%= render "/comments/form", :commentable => commentable %>
      </div>

    <ul style="list-style-type:none;">
      <div id="the_comments">
      <% commentable.comments.reverse.each do |comment| %>
        <%= render comment %>
      <% end %>
    </div>

    </ul> 
  </div><!--/span-->
</div><!--/row-fluid-->



        </div><!--/row-fluid-->
      </div><!--/main-box-->
      </div><!--/span-->