development:
  adapter: mysql2
  encoding: utf8
  database: applicant_development
  username: root
  password: 
  host: localhost
  port: 3306

test:
  adapter: mysql2
  encoding: utf8
  database: applicant_test
  username: root
  password: 
  host: localhost
  port: 3306
