<div class="container">
	<div class="row-fluid single-box-layout">
		<div class="main-box">
			<div class="main-box-header">
				<h1 class="normal">Woopsy daisy</h1>
				<p class="grey">Sorry your page haven't been found.</p>
			</div><!--/main-box-header-->
			<div class="main-box-body">
				<div class="row-fluid">
					<div class="span6 payment-list grey center">
						
<p><%= image_tag "woopsy-daisy-small.png"%></p>

					</div><!--/span-->


				<div class="span6 m-30">
					<h1 class="green">404 <small>Page error</small></h1>
<br>
					   <p>The page you were looking for doesn't exist.</p>
    <p>You may have mistyped the address or the page may have moved.</p>
<br>
					<p>Please click button bellow to go back to home page.</p>
<br>
					<%= link_to "Go Home :)", root_path, :class => "btn btn-pink" %>

				</div><!--/span-->
				</div><!--/row-fluid-->

			</div><!--/main-box-body-->
		</div><!--/main-box-->
	</div><!--/row-fluid-->
</div><!--/container-->